body {
  font-family: Poppins,Helvetica,Arial,Sans-Serif,serif;
  box-sizing: border-box;
}

/* Tabs */
.container-tabs {
  display: flex;
  margin-bottom: 1rem;  
  background-color: #EEF1F9;
  border-radius: 5px;
  padding: 5px;
}

/*sub tab*/
.container-tab {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  padding: 10px 30px;
  color: #486284;
  font-weight: 500;
  transition: all 0.2s;
}

.container-tab:hover {
  background: #e6e9ee;
}

.container-tab.active {
  background: #fff;
  color: black;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.05);
}

/* Accordion items */
.content-item {
  padding: 20px 30px;
  width: 100%;
  border: 1px solid #E2E8F0;
  border-radius: 6px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.content-item.open {
  border: 1px solid #486284;
}

.content-item:active{
  border: 1px solid #486284;
}

.content-item:hover {
  background: #f1f1f1;
}

.content-item div span{
  font-weight: 700;
  font-size: 16px;
  padding: 10px 0;
}

/* title + chevron icon */
.content-item > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
}

/* chevron icon */
.arrow {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

/* description hidden */
.description {
  display: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 10px;
  word-wrap: break-word;     
  overflow-wrap: break-word; 
  white-space: normal;
}
